/* * {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.header {
  padding: 1.1rem 5rem;
  background-color: bisque;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu li {
  list-style-type: none;
}

.res-cards {
  display: flex;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-items: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 40px 60px;
  padding: 10px 0;
}

.ratings {
  display: flex;
  gap: 30px;
}

.container {
  background-color: beige;
}

.shimmer {
  background-color: bisque;
  width: 200px;
  height: 100px;
}

.searchFilter {
  width: 300px;
  height: 40px;
  display: block;
}

.search {
  display: flex;
  gap: 30px;
  margin: 10px 20px;
}

.search-btn {
  display: block;
  width: 100px;
  height: 40px;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  @apply flex flex-col gap-10 mx-auto;
}
input {
  @apply px-5 py-2 border-2 border-slate-800 rounded-md;
}

#primary-btn {
  @apply bg-slate-900 text-slate-100 hover:bg-slate-600 hover:text-slate-100 px-8 py-2 rounded-md;
}
